{% trans_default_domain 'translations' %}

<footer class="sticky-footer bg-white">
    <div class="container my-auto">
        <div class="copyright text-center my-auto">
            <span>{{ 'back.default.footer.copyright' | trans | raw }} {{ 'now' | date('Y') }}</span>
        </div>
    </div>
</footer>
