{% set slogan = slogan ? slogan : '' %}

<section class="section cta-section">
    <div class="container">
        <div class="row align-items-center">
            <div class="mr-auto text-center text-md-left mb-5 mb-md-0">
                <h2 class="text-center">{{ slogan }}</h2>
            </div>
        </div>
    </div>
</section>
